<div class="container w3-center" >
    <div class="container heading_showcase">
        <h3>Newest</h3>
    </div>
    
    <!--Card-->
    <div class="showcase">
        <div class="card w3-card-12" ng-repeat="x in [0,1,2,3]">
            <div class="hovereffect">
                <div class="w3-center">
                    <img src="images/covers/cover-1.jpg">
                    <div class="w3-center">
                        <p class="title">Now You are thinking</p>
                        <p class="author">By: Jk Rowling</p>
                        <p class="price"><b>RS 300</b></p>
                    </div>
                    <div class="overlay">
                        <a class="info" href="#">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container heading_showcase">
        <h3>Donation Requests</h3>
    </div>
    
    <!--Card-->
    <div class="showcase">
        <div class="card w3-card-12" ng-repeat="x in [0,1,2,3]">
            <div class="hovereffect">
                <div class="w3-center">
                    <img src="images/covers/cover-1.jpg">
                    <div class="w3-center">
                        <p class="title">Now You are thinking</p>
                        <p class="author">By: Jk Rowling</p>
                        <p class="price"><b>RS 300</b></p>
                    </div>
                    <div class="overlay">
                        <a class="info" href="#">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
